.input {
  /* margin-left: 20px; */
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 400px;
}

.title {
  font-size: 20px;
  margin-left: 10px;
}
.container {
  max-width: 500px;
  margin-left: 20px;
  border: 2px solid;
  border-radius: 5px;
}
