.block {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.label {
  padding: 10px 15px;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.input {
  display: block;
  font-size: 20px;
  padding: 0 15px;
  margin-top: 5px;
  border: 1px solid blue;
  line-height: 40px;
  border-radius: 5px;
  color: black;
}
::placeholder {
  color: black;
  opacity: 0.8;
}
